/* line 1, order-opc.scss */
#orderopc #left_column {
  display: none;
}

/* line 2, order-opc.scss */
#orderopc #center_column {
  width: 757px;
}

/* line 4, order-opc.scss */
#orderopc #left_column h2 {
  margin-top: 20px;
}

/* line 6, order-opc.scss */
#opc_account_choice {
  padding: 0 15px;
}

/* line 7, order-opc.scss */
#opc_account_choice .opc_float {
  float: left;
  width: 350px;
}

/* line 11, order-opc.scss */
#opc_account_choice .opc_float ul {
  margin: 0 0 20px 30px;
}

/* line 14, order-opc.scss */
#new_account_form fieldset {
  padding: 0 0 15px 0;
  border: 1px solid #ccc;
  background: #f8f8f8;
}

/* line 19, order-opc.scss */
#new_account_form h3 {
  margin: 0 0 15px 0;
  padding: 8px;
  font-size: 14px;
  color: #fff;
  text-transform: uppercase;
  background: url(../img/bg_form_h3.png) repeat-x 0 0 #989898;
}

/* line 27, order-opc.scss */
#center_column #new_account_form p {
  margin: 0;
  padding: 0 0 10px 0;
}

/* line 28, order-opc.scss */
#new_account_form p.required {
  color: #222;
}

/* line 29, order-opc.scss */
#new_account_form p.required sup {
  color: #990000;
}

/* line 31, order-opc.scss */
#new_account_form p.radio label {
  padding-right: 10px;
  font-size: 14px;
}

/* line 40, order-opc.scss */
#new_account_form p.radio span,
#new_account_form p.text label,
#new_account_form p.password label,
#new_account_form p.select label,
#new_account_form p.select span,
#new_account_form p.textarea label {
  display: inline-block;
  padding: 6px 15px;
  width: 230px;
  /* 260 */
  font-size: 14px;
  text-align: right;
}

/* line 47, order-opc.scss */
#new_account_form p.checkbox label {
  font-size: 12px;
}

/* line 52, order-opc.scss */
#new_account_form p.text input,
#new_account_form p.password input,
#new_account_form p.select input {
  padding: 0 5px;
  height: 22px;
  width: 360px;
  /* 370 */
  border: 1px solid #ccc;
  font-size: 12px;
  color: #666666;
}

/* line 60, order-opc.scss */
#new_account_form p.checkbox input {
  margin-left: 260px;
}

/* line 63, order-opc.scss */
#new_account_form p.select select {
  margin-right: 10px;
  border: 1px solid #ccc;
  font-size: 12px;
  color: #666666;
}

/* line 69, order-opc.scss */
#new_account_form p.textarea textarea {
  height: 80px;
  width: 370px;
  border: 1px solid #ccc;
  font-size: 12px;
  color: #666666;
}

/* line 78, order-opc.scss */
#new_account_form span.form_info,
#new_account_form span.inline-infos {
  display: block;
  margin: 5px 0 0 265px;
  color: #666666;
}
