/* line 1, superfish-modified.scss */
.blocktopmenu {
  *zoom: 1;
  background: #333333;
  clear: both;
}

/* line 7, superfish-modified.scss */
.blocktopmenu:before,
.blocktopmenu:after {
  content: "";
  display: table;
}

/* line 11, superfish-modified.scss */
.blocktopmenu:after {
  clear: both;
}

/* line 14, superfish-modified.scss */
.blocktopmenu a {
  color: #fff;
  display: block;
  text-decoration: none;
  padding: 10px;
}

/* line 20, superfish-modified.scss */
.blocktopmenu a:hover {
  background: #6a6a6a;
}

/* line 23, superfish-modified.scss */
.blocktopmenu > ul > li {
  float: left;
  display: block;
  border-right: #1a1a1a 1px solid;
  border-left: #4d4d4d 1px solid;
  position: relative;
}

/* line 30, superfish-modified.scss */
.blocktopmenu > ul > li:hover {
  background: #6a6a6a;
}

/* line 33, superfish-modified.scss */
.blocktopmenu > ul > li:hover ul {
  display: block;
}

/* line 36, superfish-modified.scss */
.blocktopmenu ul ul {
  position: absolute;
  display: none;
  background: #2a2a2a;
}

/* line 41, superfish-modified.scss */
.blocktopmenu ul ul li {
  border-top: 1px dotted #cacaca;
}

/* line 44, superfish-modified.scss */
.blocktopmenu ul ul li:first-child {
  border-top: none;
}

/* line 47, superfish-modified.scss */
.blocktopmenu .search {
  float: right;
  padding: 8px;
}
